<body>

        <div class="container">
                <div class="row">
                        <div class="col-lg-1">
                                
                             </div>
                        <div class="col-lg-3">
                          <h3> <b> Country </b></h3>
                        </div>
                        <div class="col-lg-3">
                                <h3><b>Rate</b></h3>
                            </div>
                        <div class="col-lg-2">
                            <h3><b>Code</b></h3>
                        </div>
                        <div class="col-lg-3">
                           <h3><b>Currency Name</b></h3>
                        </div>
                        
                    </div>
        </div>

<div *ngIf="rate">

    <div id="mad" *ngFor="let subrates of rate.rates">

        <br>
   
                <div class="container">
                        <div class="row">
                                <div id="flag" class="col-lg-1">
                                        <img src= "https://www.countryflags.io/{{subrates['code']}}/shiny/32.png">
                                      </div>
                                <div id="name" class="col-lg-3">
                                  <h4> <b> {{subrates['name']}} </b></h4>
                                </div>
                                <div id="rate" class="col-lg-3">
                                       <b> {{subrates['rate']}} </b>
                                    </div>
                                <div id="code" class="col-lg-2">
                                   <b> {{subrates['currency_code'] }} </b>
                                </div>
                                <div id="currency" class="col-lg-3">
                                  <b>  {{subrates['currency_name']}} </b>
                                </div>
                               
                            </div>
                </div>
              
        
               

              
    </div>


</div>
</body>