.col-lg-3{
    text-align: center;
}

.container{
    background: white;
    width: 100%;
    margin: 0 auto 4px auto;
    padding: 1em;
    
    
}

body{
    background: #f1f1f1;
    padding: 50px;
}

#rate{
    color: green;
    font-size: 20px;
}

#code{
    color: blue;
    font-size: 20px;
}

#currency{
    color: brown;
    font-size: 20px;
}

